html, body{
    height: 100%;
}
body {
    text-align: right;
    direction: rtl;
    margin: 0px;
    padding: 0px;
    font-size: medium;
    line-height:1.2;
    background: #eee;
    font-family: sans-serif;
}
#wrapper{
    min-height:100%;
 //   position:relative;
}

#top{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding-bottom: 5px;
    background: #eee;
}

h1 {
    background-color: #a1c5ff;
    text-align: center;
    font-size: 200%;
    padding: 15px;
    margin: 0px;
    font-family: arial;
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 7px rgba(0,0,0,1);
    border-bottom: 1px solid #000;
    box-shadow: 0px 0px 15px 0px #444;
}

#page_qr{
	display: none;
}

#footer{
    background-color: #a1c5ff;
    color: #fff;
    border-top: 1px solid grey;
    box-shadow: 0px 0px 8px 2px #444;
    width:100%;
    height: 50px;
    position: relative;
	margin-top: -68px; /* negative value of footer height */
	clear:both;
}
#footer a{
    color: #fff;
}
#infooter{
    padding: 5px;  
}
.pdf, .xls{
    padding-left:20px;
    margin: 0px 6px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.pdf{
    background: url(images/pdf-icon.png);
    background-repeat: no-repeat;
}
.xls{
   background: url(images/excel-icon.png);
    background-repeat: no-repeat;
}

.hidden{
	display:none;
}

#detailsContainer.showDetails{
    display: block;
    position: fixed;
    top: 69px;
    margin-bottom: 4px;
    z-index: 2
}

#details{
		height:100%;
		display: flex;
		flex-wrap: wrap;
}

#body.showDetails{
    padding-top: 328px;
}
#detailsContainer{
    display: none;
    position: relative;
    width: 100%;
    height: 230px;
    padding: 10px;
    border: 1px solid;
    background:#a1c5ff;
    margin-top: 5px;
    box-shadow: 6px 9px 6px -7px #444;
}

.GoogleMap{
	height: 100%;
	min-width:150px;
	flex-grow:1;
//	border: 1px solid;
	margin: 0px 5px 0px 15px;
	background:light-gray;
}

.addressDetails{
	display:none;
}

#detailsContainer .details{
		height: 220px;
}

#detailsContainer .kidpic{
    clip: rect(0px,230px,230px,0px);
    width: 230px;
    height: 230px;
    object-fit: contain;
	background-size:230px;
}

#detailsContainer .dob,
#detailsContainer .address,
#detailsContainer .phone,
#detailsContainer .email,
#detailsContainer .vcard{
    margin-top: 5px;
    padding-right:36px;
	height: 32px;
	background-size:32px;
}

.parent2{
	margin-top:15px;
}

.whatsapp{
    background: url(images/Whatsapp-icon.png) no-repeat right;
	background-size: 32px;
	width:32px;
	height:32px;
	padding:32px;
	margin-right:5px;
}

#close{
    font-size: 0px;
    cursor: pointer;
    height: 24px;
    width: 24px;
    background: url(images/close-window.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0.6;
}
#close:hover{
    opacity:1;
}
#details .info,
#details .contact{
    display: inline-block;
    float: right;
    margin-right: 5px;
}

#details .info,
#details .parent{
	background: rgba(255,255,255,0.4);
	padding: 7px;
}

#filter{
	 background: url(images/search-icon.png) no-repeat left;
 	background-size: 24px;
	position:absolute;
	left: 20px;
	width:200px;
	height:32px;
	padding-right:10px;
	font-size: large;
	color: gray;
}

.highlight{
	background-color: rgba(255, 255, 0, 0.3);
}

.kid{
	 white-space: pre;
}

.email, 
.phone{
    display:block;
    padding-right:20px;
}

.phone{
    background: url(images/phone-icon.png) no-repeat right;
}

.email{
    background: url(images/email-Icon.png) no-repeat right;
}

.dob,
.address{
    margin-top: 5px;
    padding-right:28px;
	height:24px;
}

.dob{
    background: url(images/DOB-icon.png) no-repeat right;
	background-size: 24px;
}

.address{
    background: url(images/address-icon.png) no-repeat right;
	background-size: 24px;
}

.vcard{
    background: url(images/contact-icon.png) no-repeat right;
	background-size: 24px;
	display: block;
}

#body{
    padding-top: 72px;
    padding-bottom: 55px;
    position: relative;
    overflow:auto;
}

.kidContainer{
    position: relative;
    margin: 2px;
    padding: 5px;
    width: 290px;
    height: 100px;
    border: 1px solid;
    float: right;
    cursor: pointer;
    background-color: #a1c5ff;
}
.kid{
    height: 100%;
}
.info{
    float: right;
    padding-right: 5px;
    max-width: 250px;
}

.kidContainer .kid .contact{
    display: none;
}

.kidpic{
    clip: rect(0px,100px,100px,0px);
    width: 100px;
    height: 100px;
    float: right;
    object-fit: contain;
    background: url(images/screen-user.png);
    background-size: 100px;
    background-repeat: no-repeat;
}

.fullName{
    padding-right: 5px; 
    font-size: 150%;
    color: darkblue;
    display: flex;
    position: relative;
    top: -5px;
    text-decoration: underline;
}

.QR{
	display:none;
}

.MapInfoWindow .dob,
.MapInfoWindow .address,
.MapInfoWindow .phone,
.MapInfoWindow .email,
.MapInfoWindow .vcard{
    margin-top: 5px;
    padding-right:36px;
	height: 32px;
	background-size:32px;
}

.MapInfoWindow .info,
.MapInfoWindow .contact{
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.MapInfoWindow .info,
.MapInfoWindow .parent{
	background: rgba(255,255,255,0.4);
	padding: 7px;
}

@media screen and (max-width:1080px){
    body{
        font-size: x-large;
    }
    #top{
        position: initial;
    }
    #body{
        padding-top: initial;
    }
    #footer{
        height:60px;
    }
	
	#details{
		display: inherit;
	}
	
	.contact{
		clear:both;
	}
	
    .kidContainer{
        min-width: 450px;
        width: 48%;
        height: 150px;
        margin: 2px;
        padding:2px;
        border: 1px solid;
        float: right;
    }
    .kidContainer .kidpic{
        width: 150px;
        height: 150px;
        background-size: 150px;
    }
    .kidContainer .fullName{
        font-size: 150%;
    }
	
	#detailsContainer .kid{
		display: inline-block;
		height: auto;
		width:100%;
		margin-bottom: 20px;

	}
	
	
    #detailsContainer .kidpic{
        width: 300px;
        height: 300px;
        background-size: 200px;
		float: left;
    }
    
    #detailsContainer .fullName{
        font-size: 180%;
    }
    .kidContainer .kid .info{
        display: none;
    }
    #detailsContainer{
        position: fixed;    
        width: 100%;
        min-height: 100%;
    }
    
	#detailsContainer .address,
	#detailsContainer .dob,
	#detailsContainer .phone,
	#detailsContainer .email,
	#detailsContainer .whatsapp,
	#detailsContainer .vcard{
			background-size:60px;
			height:80px;
			padding-right: 70px;
			margin: 15px 0px;
	}
	
   #details .info,
   #details .parent{
       font-size: 200%;
       background: rgba(0,0,0,0.0);
    }
    
    #close{
        font-size: 0px;
        height: 100px;
        width: 78px;
        background: url(images/mobile-back.png);
        background-size: 90px 99px;
        background-repeat: no-repeat;
        position: fixed;
        top: 10px;
        left: 5px;
        right: initial;
        opacity: 0.7;
        z-index: 1;
    }

    #detailsContainer.showDetails{
        display: block;
        top: -5px;
        overflow: auto;
    }
    #body.showDetails{
        display: none;
    }
    
    .phone, .email, .dob, .address, .pdf, .xls{
        background-size: 24px;
        padding-right: 35px;
    }
	
	.GoogleMap{
		width:100%;
		height:600px;
		max-width:unset;
		top: unset;
		right: unset;
		padding-top:40px;
		background: gray;
	}
}

@media print{

    body, #top, h1, a, a:visited, #footer,#detailsContainer, .kidContainer, .fullName{
        background: #fff;
    	color: #000 !important;
    	text-shadow: inherit;
    	box-shadow: inherit;
    }
    #top{
        position: inherit;
    }
    h1{
        border: inherit;
        padding: 0%;
		font-size: initial;
    }
    
    #detailsContainer{
        display: none !important;
    }

    #body{
        padding-top: inherit !important;
        padding-bottom: inherit !important;
        margin-bottom: inherit !important;
    }
    .fullName{
        top: inherit;
        text-decoration: inherit;
    }
    .info{
        padding-top: 5px;
        padding-right: initial;
		float: none;
    }
    .kidContainer{
        page-break-inside: avoid;
        width: 4.3cm;
        height: 2.8cm;
    	font-size: 64%;
    	line-height: 100%;
    	margin: 1px;
    	padding: 2px 3px 10px 3px;
    	border: 1px solid gray !important;
    }
    
    .kidContainer .kid .contact{
        display: inline-block;
        margin-top: 1%;
    }
    .kidpic{
        background: url(images/print-user.png) !important;
    	background-size: 100% 100% !important;
    	width: 1.5cm;
    	height: 1.5cm;
		position: absolute;
		left: 1px;
		z-index: 1;
    }

    .dob, .address{
    	margin-top: 0%;
		height: initial;
    }
    
    .dob, .address, .email, .phone{
        background-size: 0.22cm 0.22cm;
    	text-decoration: inherit;
    	padding-right: 0.32cm;
    }
    
    .parent2{
        margin-top: 3px;
    }
    .email{
        word-break: break-all;
		font-size:0.66em;
    }

	.whatsapp{
		display:none;
	}

    a{
        text-decoration: inherit;
    }
	#filter, #footer{
		display: none;
	}

#page_qr{
	display: inline-block;
    	float: left;
    	height: 1.8em;
}

	*{
	-webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
	color-adjust: exact !important;                 /*Firefox*/
	}

	.QR{
		display:inherit;
		border: 1px solid white;
		width: 1.5cm;
		position: absolute;
		left:0px;
		bottom:0px;
	}
}
